{{> sidebar}}

<link rel="stylesheet" href="/css/po-view.css" />

<header>
  <h1>Purchase Orders</h1>
</header>
<div class="container">
  <ul
    class="po-list"
    data-companyname="{{company.name}}"
    data-companyaddress="{{company.address}}"
    data-companycity="{{company.city}}"
    data-companystate="{{company.state}}"
    data-companyzip="{{company.zip}}"
    data-companyphone="{{company.phone}}"
  >
    {{#each pos as |po|}}
      <li class="po column-3 flex justify-between" data-id="{{po.id}}">
        <div>
          <span class="po-number">PO# {{po.po_number}}</span>
          <br />
          <span class="po-date">Date: {{po.createdAt}}</span>
          <p>Service: {{po.goods}}</p>
        </div>
        <div>
          <i
            class="pdf mt-3 fa-solid fa-file-pdf fa-2xl"
            style="color: #711dd7;"
            data-date="{{po.createdAt}}"
            data-ponumber="{{po.po_number}}"
            data-vendorinvoice="{{po.invoice_number}}"
            data-vendorname="{{po.vendor_name}}"
            data-vendoraddress="{{po.vendor_address}}"
            data-vendorcity="{{po.vendor_city}}"
            data-vendorstate="{{po.vendor_state}}"
            data-vendorzip="{{po.vendor_zip}}"
            data-vendorgoods="{{po.goods}}"
            data-vendordescription="{{po.description}}"
            data-vendorcost="{{po.cost}}"
          ></i>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

<script src="/js/poView.js"></script>
<script src="/util/poPDF.js"></script>